body{
    background-color: burlywood;
}
.Welcome{
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.Checker{
    border: 5px solid greenyellow;
    border-radius: 15px;
    background-color: greenyellow;
}

.ErrorHandler{
    font-size: 30px;
    font-family: "consola","monospace",sans-serif;
}

#UsernameInput{
    border: 3px;
    border-radius: 15px;
    font-size: 30px;
}

.Checker button{
    font-size: 30px;
}

.Card{
    background-color: blueviolet;
    border: 3px solid greenyellow;
    border-style: dashed;
    border-radius: 15px;
}
.Card p{
    font-size: 30px;
}
.p1{
    color: aqua;
}
.p2{
    color:blue
}
.p3{
    color:greenyellow;
}
.Card h1{
    margin-left: 50%;
}
.Card{
    opacity:0%;
}